<html>
<head>
  <title>Ritesh's Blog</title>
  </head>
<body>
  <div>
  <h1><a href="/">Welcome to Ritesh's tech blog</a></h1>
  </div>

  <div>
    <p>published:10.02.2019, 10:48</p>
    <h2><a href="/">My first post </a></h2>
    <p>Hello guys,welcome to technextdoor.I'll be posting interesting and informative tech articles.</p>
    </div>
  <div>
    <p>published: 11:02:2019,7:22</p>
    <h2><a href="/">My second post</a></h2>
    <p>So guys, the wait is over.Let us talk about the Machine learning concepts.I'll start with the prerequisites for mastering ML.</p>
    </div>
</body>
</html>
